<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.shopcart.ExtentReportListener.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="Testnew">
    <classes>
      <class name="com.shopcart.login.testcses.LoginPageTest"/>
      <class name="com.shopcart.customers.testcases.AddressesPageTest"/>
      <class name="com.shopcart.dashboard.testcases.DashboardPageTest"/>
      <class name="com.shopcart.customers.testcases.CustomerPageTest"/>
      <class name="com.shopcart.dashboard.testcases.PrestShopPageTest"/>
    </classes>
  </test> <!-- Testnew -->
</suite> <!-- Suite -->
